.example-card {
    margin: 0 auto;
    /* max-width: 500px; */
}

#card {
    display: flex;
    /* margin-top: 10px; */
}

.chart {
    display: block;
    width: 1000px;
    /* height: 1000px; */
}

#butt {
    margin-left: 10px;
}